
  @import url('https://fonts.googleapis.com/css2?family=Castoro&family=Castoro+Titling&display=swap');

*{
    margin:0;
    padding: 0;
    border: none;

}

body {
    font-family:'Castoro', serif;
    font-weight: 3;
    color:black;
    background-color:  rgb(194, 190, 185);
}
/*headings and logo*/

h1 {
    font-family:'Castoro Titling', cursive ;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: rgb(196, 191, 177);
}

#logo{
    float: left;
    font-size: 160%;
    margin-left: 25px;
     }

     #menu{
        font size: 110%;
        letter-spacing: 5px;
    }
    
    #menu,#logo{
        line-height: 75px;
    }
    #menu li{
        float:right;
        list-style-type: none;
        margin-right: 30px;
    }

    #menu a{
        text-decoration: none;
        color:hsl(42, 16%, 87%) ;
    }
    #menu a:hover{
        border-bottom: 1px solid hsl(44, 8%, 52%);
    }

    #main-outer{
        height: 600px;
        width:100%;
    }
    /*main-image and cover text*/
    
    #cover-text, #cover-text h2{
        color:rgb(228, 214, 187);
    }
    
    #main-image {
        height: 600px;
        width: 100%;
        background: url(https://images.pexels.com/photos/7265994/pexels-photo-7265994.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center center;
    background-size: cover;
    }
    
    #cover-text  {
        font-size: 130%;
        font family:'Castoro', serif ;
        text-transform: uppercase;
        letter-spacing: 4px;
    
        width: 300px;
        height: 200px;
    
        padding-top:40px;
        padding-left:10px;
    
        background-color:black;
    
        bottom: 50%;;
        right: 50%;
        position: absolute;  
        opacity: 0.6;
    }
    
    /*first section */
#section-one, {
    height: 600px;
}

#section-one-img img{
    padding-top: 10px;
    width: 50%;
    height: 590px;
    object-fit: cover;
    overflow: hidden;
    float:left;
}

#section-one-text{
   
    padding-top: 300px;
    padding-left: 0%;
    padding-right: 0%;
    width:50%;
    float:right;
    text-align: center;
}
.heading-txt{
    font-family: 'Castoro Titling', cursive ;
    font-weight: bolder;
    font-style: italic;
    font-size: 1.5rem;
}


    