
  @import url('https://fonts.googleapis.com/css2?family=Castoro&family=Castoro+Titling&display=swap');

*{
    margin:0;
    padding: 0;
    border: none;

}

body {
    font-family:'Castoro', serif;
    font-weight: 3;
    color:black;
    background-color:  rgb(194, 190, 185);
}
/*headings and logo*/

h1 {
    font-family:'Castoro Titling', cursive ;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: rgb(99, 96, 87);
}

#logo{
    float: left;
    font-size: 160%;
    margin-left: 25px;
     }

     #menu{
        font size: 110%;
        letter-spacing: 5px;
    }
    
    #menu,#logo{
        line-height: 75px;
    }
    #menu li{
        float:right;
        list-style-type: none;
        margin-right: 30px;
    }

    #menu a{
        text-decoration: none;
        color:hsl(40, 6%, 63%) ;
    }
    #menu a:hover{
        border-bottom: 1px solid hsl(46, 15%, 17%);
    }

    #main-outer{
        height: 600px;
        width:100%;
    }
    /*main-image and cover text*/
    
    #cover-text, #cover-text h2{
        color:rgb(41, 40, 38);
    }
    
    #main-image {
        height: 600px;
        width: 100%;
        background: url(https://images.pexels.com/photos/7265994/pexels-photo-7265994.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center center;
    background-size: cover;
    }
    
    


    