
  @import url('https://fonts.googleapis.com/css2?family=Castoro&family=Castoro+Titling&display=swap');

*{
    margin:0;
    padding: 0;
    border: none;

}

body {
    font-family:'Castoro', serif;
    font-weight: 3;
    color:black;
    background-color:  rgb(194, 190, 185);
}
/*headings and logo*/

h1 {
    font-family:'Castoro Titling', cursive ;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: rgb(99, 96, 87);
}

#logo{
    float: left;
    font-size: 160%;
    margin-left: 25px;
     }

     #menu{
        font size: 110%;
        letter-spacing: 5px;
    }
    
    #menu,#logo{
        line-height: 75px;
    }
    #menu li{
        float:right;
        list-style-type: none;
        margin-right: 30px;
    }

    #menu a{
        text-decoration: none;
        color:hsl(40, 6%, 63%) ;
    }
    #menu a:hover{
        border-bottom: 1px solid hsl(46, 15%, 17%);
    }


    